body{
    margin: 0px;
    /* padding: 0%; */
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    min-height: 100%;
}
.border{
    text-align: center;
    background-color: #64B5F6;
    padding: 4px;
}
.border>a{
    text-decoration: none;
    color: white
}
.nav img{
    width: 150px;
    margin: 20px 0px 0px 20px;
}
.icons{
    width: 9%;
}
.icons>i{
    width: 10%;
    font-size: 20px;
    margin-left: 17px;
}
.search{
    width: 40%;
    align-items: center;
   
    justify-content: space-between;
}
.search>div>input{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
}
.search>div:nth-child(1){
    width: 100%;
}
.search>div:nth-child(2){
   position: relative;
   right: 5%;
}
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* margin-bottom: 20px; */
}
.nav #profile ion-icon{
    font-size: 2.5em;
    margin-right: 9px;    
}
.main{
    display: flex;
}
/* left menu css */
.left{
    position: absolute;
    width: 20%;
    background-color: #2B3467;
    border-left: 10px solid #BAD7E9;
    color: white;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
    
}
.left.active{
    width: 85px;
}
.left ul{
    position: absolute;
    left: 0px;
    top:0px;
    width:100%
}
.icon{
    font-size: 33px;
    
}
.left ul li{
    position: relative;
    width: 200%;
    list-style: none;
    margin-left: -20px;
    /* font-size: 20px;
    line-height: 60px; */
}
.left ul li:hover{
    /* width: 100%; */
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
   text-decoration: none;
   color: white;
   
}
.left ul li a:hover{
    color: #2B3467;
}
.left ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.left ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* right section css */

#heading{
    margin: 0 0 0 50px ;
    font-weight: bold;
    font-size: large;
    /* border: solid red; */
}
.right{
    position: relative;
    left: 22%;
    transition: 0.5s;
}
.right.active{
    left: 10%;
    transition: 0.5s;
}
.upper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-left: 10px;
}

.card{

    display: flex;
    /* border: solid red; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 180px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* border:solid red */
}
.card:hover{
    background-color: #E3DFFD;
}
.card div:nth-child(2) ion-icon{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.646);
    /* border:solid red; */
}

/*  ************mainsection css*********** */
.mainSec{
    display: flex;
    margin-top: 15px;
}

/* 1st section */
.formfill {
    width: 25%;
    /* margin-right:20px ; */
    /* margin-top: 50px; */
    line-height: 40px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #BAD7E9;
    color: #2B3467;
    /* border: solid red; */
    height: 0%;
  }
  .formfill input{
    padding:10px;
    border-radius: 5px;
    border: 0px;
    width: 90%;
  }
  .formfill select {
    padding: 10px;
    width: 55%;
    border-radius: 5px;
    border: 0px;
    margin-left: 10px;
  }
  .formfill button {
    margin-left: 25px;
    padding: 10px;
    border: none;
    margin-top: 50px;
    width:40%;
    border-radius: 25px;
    background-color: white;
    color: #2B3467;
    font-weight: bold;
  }
  .formfill button:hover{
    background-color: #2B3467;
    color: white;
  }

  /* table section css */
  .parent{
    display: flex;
  }
.table1{
    width: 50%;
    transition: 0.5s;
    /* border: solid red; */
    height: 650px;
    overflow: scroll;
}
.table11{
    width: 70%;
    transition: 0.5s;
    /* border: solid red; */
    height: 650px;
    overflow: scroll;
}
.table1.active{
    width: 70%;
    padding-left: 30px;
    transition: 0.5s;
    height: 650px;
    overflow: scroll;
    /* border: solid red; */
}
.table11.active{
    width: 80%;
    padding-left: 30px;
    transition: 0.5s;
    height: 650px;
    overflow: scroll;
    /* border: solid red; */
}
.table21{
    /* border:solid red; */
    padding-left: 30px;
    transition: 0.5s;
    height: 650px;
}
tbody td{
    
    background-color: #E3DFFD;
    padding: 10px;
    border-radius: 5px;
}
thead td{
    background-color: #2B3467;
    padding: 15px;
    color: white;
    border-radius: 5px;
    position: sticky;
    top:0;
}

.image{
    width: 90px;
}
.imgUser{
    width: 60px;
    border-radius: 50px;
}
.cart{
    /* background-color: #64B5F6; */
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: small;
    line-height: 6px;
}

.edit {
    padding: 8px;
    background-color: rgb(25, 174, 248);
    border: 0px;
    color: white;
    border-radius: 5px;
    margin: 10px;
}
.edit:hover{
    background-color: #2b3467d8;
}
.delete:hover{
    background-color: rgb(255, 55, 0);
}

.delete{
    padding: 8px;
    color: white;
    background-color: rgba(255, 68, 0, 0.754);
    border: 0px;
    border-radius: 5px;
}


