*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    text-align: center;
    background-color: #64B5F6;
    padding: 4px;
}
.border>a{
    text-decoration: none;
    color: white
}

.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
   
}
.nav>img{
    width: 10%;
    margin-left: 20px;
}
.search{
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.search>div>input{
    width: 100%;
    padding: 6px;
}
.search>div:nth-child(1){
    width: 100%;
}
.search>div:nth-child(2){
   position: relative;
   right: 5%;
}
.icons{
    width: 9%;
}
.icons>i{
    width: 10%;
    font-size: 20px;
    margin-left: 17px;
}
.register{
    width: 38%;
}
.register>img{
    width: 100%;
}